*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background: blue;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
h2{
    margin-top: 10px;
    border-bottom: 1px solid red;
    width: 340px;
    margin-left: 20px;
}
.separa{
    border: 1px solid ;
    margin: 10px 5%;
    background: blue;
    padding: 10px 4%;
}
.pont{
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px 2px;
    border-radius: 5px 5px;
    text-align: center;
}
#propor{
    margin: 0 5%;
    padding: 10px 0;
    border-radius: 5px 5px;
}
#kita{
    background: red;
    border-radius: 5px 5px;
    margin: 10px 5%;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    display: none;
}
.margi{
    margin: 10px 5%;
    display: flex;
    flex-wrap: wrap;
}
.sepa{
    flex: 40%;
}
.buton{
    width: 75px;
    padding: 10px 0;
    border-radius: 5px 5px;
    cursor: pointer;
    border: 1px solid #000;
}
.azul{
    color: #fff;
    background: blue;
}
.amarelo{
    background: #a9de0a;
}
#res{
    margin: 3%;
    border-radius: 5px;
    color: #fff;
    padding: 5px 2px;
}
#mar{
    margin: 10px 5%;
    display: none;
}
#proposta{
    margin-left: 250px;
    margin-top: 10px;
}
#aparecer{
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid #000;*/
}
.oi{
    flex: 20%;
    background: blue;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
}
.butoo{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}
